*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.pozadina{
	background-image:url("background.jpg");   
	background-position:center;
	background-size:cover;	
}

#header{
    position: fixed;
    top: 0px;
    margin-left: 150px;
    width:819px;
}

nav ul li{
    float: left;
    width: 20%;
    text-align: center;
    height: 35px; 
}

nav ul{
    overflow: hidden;
    list-style-type: none;
    background-color:#1a4666;  
}

nav ul li a:hover{
    transition: 0.3s;
    background-color: lightslategrey;
}

nav ul li a{
    text-decoration: none;
    display: block;
    padding: 7px; 
    color: white;
}



.error{
    color:red
}

.forma{
    position: fixed;
    top: 50px;
    text-align: center;
    margin-left: 410px;
}

input[type=text], select {
    width: 100%;
    padding: 8px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 8px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.greska{
    color: red;
    font-size: x-large;
}

#sidenav {
    height: 695px;
    width: 150px;  
    position: fixed;
    background-color:#8C001A;   
}

#sidebar{
    width:150px;
	height:695px;
	float:right;
	background-color:#8C001A;
}
  
.followers{
    position: fixed;
    margin-top: 90px;
    margin-left: 350px;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.followers tr th{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.followers th,
.followers td {
    padding: 12px 15px;
}

.followers tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.followers tr:nth-of-type(odd) {
    background-color: rgb(97, 196, 235);
}

.followers tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.followers tr:hover {
    font-weight: bold;
    color: #009879;
}

.pozdrav{
    position: fixed;
    margin-top: 36px;
    margin-left: 150px;
    color:#1a4666;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:white;  
}

#header_login{
    margin-left: 150px;	
    width:819px;
    height:70px;
    background-color:#1a4666;
    position: fixed;
    top: 0px;
}

.forma_login{
    position: fixed;
    top: 90px;
    text-align: center;
    margin-left: 410px;
}

.poruka_login{
    text-align: center;
    padding: 20px;
    color: white;
}

.pozadina_login{
    background-image:url("background.jpg");   
	background-position:center;
	background-size:cover;
}

.button_follow {
	box-shadow: 3px 4px 0px 0px #e80cb5;
	background:linear-gradient(to bottom, #d682cc 5%, #d88dc0 100%);
	background-color:#e007c7;
	border-radius:18px;
	border:1px solid #b51bdb;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:3px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #d977b7;
}
.button_follow {
	background:linear-gradient(to bottom, #bd2a8e 5%, #e007c7 100%);
	background-color:#bd2a8e;
}
.button_follow {
	position:relative;
	top:1px;
}

.forma_change{
    position: fixed;
    top: 90px;
    text-align: center;
    margin-left: 410px;
}

.index_poruke{
    margin-left: 430px;
    margin-top: 150px;
    display: inline;
}
.index_poruke{
    margin-left: 400px;
    margin-top: 170px;
    display: inline;
}

.index_login{
    position: absolute;
    margin-left: 310px;
    margin-top: 110px;
    padding: 15px; 
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: #1c9bd6;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(146, 221, 226);  
}

.index_login:hover {background-color: #82d4e2}

.index_register{
    position: absolute;
    margin-left: 650px;
    margin-top: 110px;
    padding: 15px;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: #1c9bd6;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(146, 221, 226);  
} 


.decoration{
    text-decoration: none;
    color: white;
}

.index_register:hover {background-color: #82d4e2}

#header_register{
    margin-left: 150px;	
    width:819px;
    height:50px;
    background-color:#1a4666;
    position: fixed;
    top: 0px;
}

.poruka_register{
    text-align: center;
    padding: 10px;
    color: white;
}

.poruka_profile{
    color: red;
    font-weight: bold;
    font-style: italic;
}

.tabela{
    position: absolute;
    margin-top: 150px;
    margin-left: 300px;
    border: 2px solid black;
}

.link_tabela{
    position: absolute;
    margin-top: 300px;
    margin-left: 300px;
    color:#1a4666;
    font-size: large;
}